html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {

    background: rgb(215, 215, 215);
    background:         radial-gradient(rgb(240, 240, 240), rgb(82, 197, 223));
    background:      -o-radial-gradient(rgb(240, 240, 240), rgb(82, 197, 223));
    background:     -ms-radial-gradient(rgb(240, 240, 240), rgb(82, 197, 223));
    background:    -moz-radial-gradient(rgb(240, 240, 240), rgb(82, 197, 223));
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(82, 197, 223)));
    background: -webkit-radial-gradient(rgb(240, 240, 240), #5B5BA6);
    
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
     min-height: 740px;

}

a {
    color: rgb(215, 215, 215) ;
    text-decoration: none;
}

a:hover {
     background: rgba(255,255,255,0.5);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
}

b, strong { font-weight: bold }
i, em { font-style: italic}

/* enable clicking on elements 'hiding' behind body in 3D */
body     { pointer-events: none; }
#impress { pointer-events: auto; }

/* COMMON STEP STYLES */



#agenda 
{
    text-align: justify;
}
#agenda1 
{
    font-size: 2.5em;
}
#title {
    font-size:100px;
    font-weight: bold;
    text-align:center;
    text-shadow: -4px 0 white, 0 4px white, 4px 0 white, 0 -4px white;
    width:1000px;
}
#title h2 {
    font-size:30px;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    margin-bottom:20px;
}
#title h3
{
    font-size:30px;
    text-shadow:none;
}


.step {

    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
    padding: 40px;
    text-align: justify;
    width: 900px;

    font-family: 'Pontano Sans', helvetica, sans-serif;

    font-size: 50px;
    line-height: 1.5;
}

.step {
    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

/* fade out inactive slides */
.step:not(.active) {
    opacity: 0.3;
}

/* IMPRESS NOT SUPPORTED STYLES */

.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;
    
    display: none;
    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border-radius: 10px;
    border: 1px solid #E4C652;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-disabled .step,
.impress-not-supported .step {
    position: relative;
    opacity: 1;
    margin: 20px auto;
}

.impress-not-supported .fallback-message {
    display: block;
}
